{% extends 'layouts/page.njk' %}

{% block content %}
  <a href="/" class="govuk-back-link">Back to dashboard</a>
  <h1 class="govuk-heading-xl">{{ heading }}</h1>

  {% include 'search/_filters.njk' %}

  {% if applied %}
    <h2 class="govuk-heading-l">Results</h2>
    {% if results.length %}
      <p class="govuk-body">{{ total }} CPH{% if total != 1 %}s{% endif %} found</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">CPH search results</caption>
        <thead class="govuk-table__head"><tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">CPH ID</th>
          <th scope="col" class="govuk-table__header">Postcode</th>
          <th scope="col" class="govuk-table__header">Farm or company name</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
        </tr></thead>
        <tbody class="govuk-table__body">
          {% for cph in results %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ cph.cph }}</td>
              <td class="govuk-table__cell">{{ cph.postcode }}</td>
              <td class="govuk-table__cell">{{ cph.name }}</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/cphs/{{ cph.id | urlencode }}">Show details<span class="govuk-visually-hidden"> for {{ cph.cph }}</span></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if pagination %}{{ govukPagination(pagination) }}{% endif %}
    {% else %}
      <p class="govuk-body">No CPHs found.</p>
    {% endif %}
  {% endif %}
{% endblock %}
