{% extends 'layouts/page.njk' %}
{% block content %}
  <h1 class="govuk-heading-xl">{{ heading }}</h1>
  <p class="govuk-body">The {{ resultName }} may have been removed or the address may be incorrect.</p>
  <p class="govuk-body"><a class="govuk-link" href="/">Return to the dashboard</a></p>
{% endblock %}
