{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Livestock back office</span>
      <h1 class="govuk-heading-xl">{{ greeting }}, {{ authenticatedUser.firstName }}</h1>

      <h2 class="govuk-heading-l">Actions to complete</h2>
      {% if actionsToComplete.length %}
        <ul class="govuk-task-list">
          {% for action in actionsToComplete %}
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="{{ action.url }}">{{ action.title }}</a>
                {% if action.description %}<div class="govuk-task-list__hint">{{ action.description }}</div>{% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="govuk-body">There are no actions to complete.</p>
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-l">What do you need to do?</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-m">Find and browse CPHs</h3>
          <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" href="/cphs?searchBy=address">Find a CPH by address</a></li>
            <li><a class="govuk-link" href="/cphs?searchBy=person">Find a CPH by person name</a></li>
            <li><a class="govuk-link" href="/cphs?searchBy=browse">Browse CPHs</a></li>
          </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-m">Find users</h3>
          <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" href="/users?searchBy=email">Find a user by email</a></li>
            <li><a class="govuk-link" href="/users?searchBy=address">Find a user by address</a></li>
            <li><a class="govuk-link" href="/users?searchBy=cph">Find a user by CPH</a></li>
          </ul>
        </div>
      </div>

      <p class="govuk-body govuk-!-margin-top-8"><a class="govuk-link" href="{{ logoutUrl }}">Sign out</a></p>
    </div>
  </div>
{% endblock %}
